
body {
  margin: 0;
  height: 100vh;
  background: rgb(215, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.stopwatch-container {
  text-align: center;
}

.title {
  color: #f623cc;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.stopwatch {
  background-color: white;
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}


.display {
  font-size: 3rem;
  font-weight: bold;
  color: #0a0a0a;
  margin-bottom: 25px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


.controls {
  display: flex;
  gap: 15px;
}

.btn {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(241, 237, 237);
  transition: all 0.3s ease;
}


.start {
  background-color: #00c851;
}
.start:hover {
  background-color: #009e3e;
}

.stop {
  background-color: #ff4444;
}
.stop:hover {
  background-color: #cc0000;
}

.reset {
  background-color: #4285f4;
}
.reset:hover {
  background-color: #3367d6;
}
